* 
{
   margin: 0%; 
   padding: 0%; 
   box-sizing: boxcover; 
  font-family: "Poppins", sans-serif; 
  color: whitesmoke; 
  } 
  body {
    background: radial-gradient(circle closest-corner at center 500px, #c60e0e, rgb(41, 11, 11) 50%)
    no-repeat;
    background-image: url('/assets/images/darkbackground.png');  
    background-size: cover;
    background-attachment: fixed;
    color: rgb(247, 238, 238);
    text-align: left-align;
    display: flex;
    flex-wrap: nowrap;
      }
  #detailsContaier {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10%;
    margin-left: 3%;
    margin-top: 150px;
    max-width: 450px;
  }

  img {
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin-top: 10%;
    margin-left: 60%;
    background-attachment: fixed;
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }
/*________________ScrollBar Style_______________________*/
/* width */
::-webkit-scrollbar {
	width: 10px;
	padding: 20px;    /* display: none; */
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	padding: 20px;
	display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 20px;
}
/* Blinking animation */
@keyframes blink {
	0% { opacity: 1; }  /* Fully visible */
	50% { opacity: 0; } /* Hidden */
	100% { opacity: 1; } /* Fully visible again */
  }
   /* Apply the blinking animation to the anchor tag */
a,i {
	animation: blink 2s infinite;  /* 2 second for each cycle, repeating infinitely */
	color:whitesmoke;
  }
  h2{
    color: orangered;
  }
  
 


