* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body {
	background-image: url('/assets/images/darkbackground.png');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	text-align: center;
}
 /*________________SuperHero List Style_______________________*/
ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style-type: none;
	border-radius: 40px;
	position: absolute;
	top: 25%;
	bottom: 0px;
	overflow-y: scroll;
    text-align: center;
	justify-content: space-evenly;  

}
/*________________SuperHero Item List Style__________________*/
li {
	color: #f3f3f3;
	width: 150px;
	height: 430px;
	/* background: radial-gradient(circle closest-corner at center 200px, orangered, rgb(1, 2, 24) 70%) no-repeat;	 
	
	border: thick double #09445c;
    display: flex;
    overflow: hidden;
    flex-shrink: 3;
    margin: 20px 10px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
	padding: 10px;  /* Add some padding */
   
}
li:hover{
	box-shadow: 2px 2px 2px 2px rgb(252, 252, 254);
	cursor: pointer;
}
li img {
	width: 150px;
	height: 150px;
	padding: 20px;
	border-radius: 50%;
}
li #heroTitle {
	font-size: 1.4em;
	color: #ffffff;	
	margin-top:10px;
	text-align: center;

}
li #heroTitle:hover {
	cursor: pointer;
	text-decoration: underline;
}
li  #delete,#details {
	color: red;
	background-color: #09445c;
	padding: 16px;    
	margin-bottom: 10px;    
	border: none;
	border-radius: 50%;    
    height:50px;
    width:100px ;
}
li #delete:hover,#details:hover {
	color: rgb(139, 198, 139);
	background-color: orange;
	font-size: large;
	transition-delay: 2000ms;
	transition-property: all;
	text-decoration:solid;
	transition-delay: 1s, 300ms;
	transition-property: text-decoration, background-color;
	cursor: pointer;
}
li #delete:hover{
	background-color: red;
	text-decoration: none;
}
/*________________ScrollBar Style_______________________*/
/* width */
::-webkit-scrollbar {
	width: 10px;
	padding: 20px;    /* display: none; */
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	padding: 20px;
	display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 20px;
}
/* Blinking animation */
@keyframes blink {
	0% { opacity: 1; }  /* Fully visible */
	50% { opacity: 0; } /* Hidden */
	100% { opacity: 1; } /* Fully visible again */
  }
  /* Apply the blinking animation to the anchor tag */
a,i,button {
	animation: blink 2s infinite;  /* 1 second for each cycle, repeating infinitely */
	color:whitesmoke;
  }